openapi: 3.0.3
info:
  title: VCPR.ORG Protocol Editor API
  version: 2.0.2
  contact:
    name: Jim Ehrlich, DVM
    url: https://github.com/jehrlich/VCPR_API
    email: jehrlich@vcpr.org
  description: >-
    API serving the Veterinary Protocol Manager&trade; application. &copy;
    DairySight LLC, Argyle NY 2020
servers:
  - description: Production server, uses production database.
    url: https://VCPR.ORG
  - description: Staging server, uses staging database.
    url: https://stage.VCPR.ORG
  - description: Test server, uses regenerated test database.
    url: https://test.VCPR.ORG
  - description: Local docker container, uses regenerated test database.
    url: http://localhost
security:
  - authToken: []
paths:
  /api/users/logins:
    $ref: paths/api@users@logins.yaml
  /api/protocols/prescriptions/to:
    $ref: paths/api@protocols@prescriptions@to.yaml
  /api/protocols/prescriptions/{id}:
    $ref: paths/api@protocols@prescriptions@{id}.yaml
  /api/labels/inserts/{lxId}:
    $ref: paths/api@labels@inserts@{lxId}.yaml
  /api/spl/{ndc}:
    $ref: paths/api@spl@{ndc}.yaml
  /api/spl/{ndc}/{image}:
    $ref: paths/api@spl@{ndc}@{image}.yaml
  /api/prescriptions/cases:
    $ref: paths/api@prescriptions@cases.yaml
  /api/prescriptions/:rxId/cases:
    $ref: paths/api@prescriptions@:rxId@cases.yaml
  /api/users/tasks:
    $ref: paths/api@users@tasks.yaml
components:
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Uses JWT token stored in request header.
tags:
  - name: User
    description: Endpoints and models related to user management.
  - name: Protocol
    description: Endpoints and models related to protocol management.
  - name: Prescription
    description: Endpoints and models related to prescription management.
  - name: Case
    description: Endpoints and models related to case management.
  - name: Promise
    description: Endpoints and models related to promise management.
